.jumbotron {
    text-align: center;
    background-color: #c5c2c6;
    color: white;
}

body {
    background-image: url("../img/background3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}

hr {
    background-color: white;
}

a {
    color: black;
}
